.sidefield-editor {
    .btn-collapse {
        width: 100%;
        font-size: inherit;
        font-weight: bold;
        text-align: start;
        border-bottom: solid;
        white-space: normal;
        background-color: white;
        color: #0062ae;
        .glyphicon {
            float: right;
        }
    }
}
