.price-label {
    margin-top: 0.5rem;
}
.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label.disabled::before {
        background-color: var(--main-color);
        opacity: 0.7;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label.disabled::after {
        cursor: not-allowed;
}
