
.offers-field {
    &:not(:first-of-type) {
        margin-top: 3rem;
    }
    button {
        margin: 0;
    }
    .offersLimit {
        margin-top: 0.5rem;
        color: var(--red-color);
    }
}
.offers-row {
    .row.price-toggle {
        margin-left: 0;
        margin-right: 0;

        .custom-control.custom-radio {
            margin-right: 25px;
        }
    }
    .offersLimit {
        margin-top: 0.5rem;
        color: var(--red-color);
        font-weight: bold;
    }
    button.btn {
        margin: 0;
    }
}
