$select-input-border-radius: 0px;

.hel-select {
    .validation-error-popover.popover.small {
        top: 50%;
    }
    .location-select {
        label {
            font-size: 1.2rem;
            padding-top: 2vh;
        }
    }
}


.location-search {
        &__placeholder, &__menu-notice {
            color: var(--black-color) !important;
        }
}

.select-popover {
    position: absolute;
    left: 100%;
    top: 6%;
}
@media (max-width: 575px) {
    .select-popover {
        left: 30%;
        top: -5%;
    }
}
