.new-offer {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &:not(:first-of-type) {
        margin-top: 36px;
    }

    > div {
        width: 100%;
    }
}
.offers-button {
    position: absolute;
    border: none;
    background-color: inherit;
    width: 40px;
    height: 40px;
    right: 0;
    top: 12px;
    z-index: 1;
    span {
        padding: 0 !important;
        margin: 0 !important;
    }
}
