@use "src/assets/mixin" as m;
.accessibility-page {
    .accessibility-container {
        margin: auto;
        width: 50%;
    }
    .h2 {
        font-weight: bold;
    }
    a {
        @include m.add-outline();
    }
}
