.links-to-events {
    &--text {
        font-size: 20px;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    &--link {
        margin: 0;
        padding: 2px;
        & ~ & {
            margin-top: 0.5rem;
        }
    }
}
