.MuiTableSortLabel-root-81 {
    &.disabled {
        opacity: 0.6;
        pointer-events: none;
        transition: opacity 150ms ease-in-out;
    }
}
.moderation-tips {
    .headerbutton {
        width: 100%;
        background-color: var(--main-color) !important;
        color: var(--light-color) !important;
        border-color: var(--darkgray-color) !important;
        font-weight: bold;
    }

    .tip {
        border: 2px solid var(--main-color) !important;
        color: var(--dark-color) !important;
        margin-top: 0px;
        background-color: var(--tip-color);
        padding: 10px;
    }
}

