.series {
    margin-left: 5px;
    background-color:#008540;
    color:#ffff;
}
.event, .courses, .hobby {
    background-color:#008540;
    color:#ffff;
    margin-left: 5px;
}
.umbrella{
    margin-left: 5px;
    background-color: #0072c6;
    color:#ffff;
}
.draft{
    margin-left: 5px;
    background-color: #ffc107;
    color:#000000;
}
.cancelled{
    margin-left: 5px;
    background-color: #DF3603;
    color:#ffff;
}
.postponed{
    margin-left: 5px;
    background-color: #9fc9eb;
}
