.search-images {
    align-items: center;
    display: flex;
    input {
        max-width: 200px;
    }
    button {
        margin-left: 10px;
    }
    .inputIcon {
        border: 2px;
        background-color: var(--main-color);
        align-items: center;
        .glyphicon {
            font-size: 1.375rem;
            top: 0px;
            height: 38px;
            width: 38px;
            background-color: var(--main-color);
            background-repeat: round;
            margin: 0px !important;
            color: white;
            padding: 8px 8px 8px 8px !important;
        }
    }
}
.search-results {
    border-bottom: 2px solid black;
    margin-top: 20px;
}
.image-row {
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 10px;
}
.imageShort {
    overflow: auto;
    height: auto;
}
