.search-page {
    h2 {
        font-size: 1.5rem !important;
        font-weight: normal;
        margin-bottom: 0.5em;
    }
}

.search-loading-spinner {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.search-no-results {
    padding-top: 100px;
    text-align: center;
    color: #757575;
    font-size: 31px;
}

.toggle-container{
    margin-bottom: 1.5em;
    .location-error-message {
        margin-top: 0.5rem;
        width: fit-content;
    }
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--main-color);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    cursor: pointer;
}

/********** Slider styles **********/
/* Remove default styling */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

/***** Chrome, Safari, Opera and Edge Chromium *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    border: 1px solid var(--main-color);
    height: 0.7rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -10px;

    /*custom styles*/
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
}

/***** Firefox *****/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    border: 1px solid var(--main-color);
    height: 0.7rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;

    /*custom styles*/
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
}
