.search-loading-spinner {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.search-no-results {
    padding-top: 100px;
    text-align: center;
    color: #757575;
    font-size: 31px;
}

.toggle-container{
    margin-bottom: 1em;
    .location-error-message {
        margin-top: 0.5rem;
        width: fit-content;
    }
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--main-color);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    cursor: pointer;
}
